#menubar,
#header,
#content .section-header,
.offcanvas-holder {
	display: none;
}

#content,
#content .section-body {
	padding: 0;
}

.card-printable {
	display: block;
}
.card-printable .card-head {
	display: none;
}

body,
#content > section {
	background-color: #ffffff;
	border: 0;
}